body {
  margin: 1em;
  font-family: 'Lato', sans-serif;
}
.center{
  display: flex;
  justify-content: space-between;
}
header {
  background-color: #c1c8e4;
  display: flex;
  justify-content: space-around;
}
h1 {
  font-family: 'Audiowide', cursive;
  color: #5680e9;
}
.Logout {
  height: 3em;
}
.Users {
  background-color: #5ab9ea;
  padding-right: 3em;
  text-align: center;
}

ol {
  list-style-type: none;
}
#message-form {
  display: flex;
}
#text-box {
  height: 5em;
  width: 25em;
}
#send-map {
  background-color: #8860d0;
  margin: 3em;
  width: 20em;
}
.Rooms {
  background-color: #5ab9ea;
  padding-left: 3em;
  text-align: center;
}

footer {
  background-color: #84ceeb;
  text-align: center;
  border-top: solid 1px;
  border-color: #c1c8e4;
  bottom:0;
  width:100%;
}
#contact-header {
  margin-top: .3em;
  margin-bottom: .3em;
}
.contact {
  font-size: 3em;
}